<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form shadow">
    <%= form.label "Task", class: "label" %>
    <%= form.text_field :name, placeholder: "Enter your task here", class: "text-field" %>


    <div class="checkbox-container">
      <%= form.label :completed, style: "display: block" %>
      <%= form.check_box :completed, class: "checkbox"  %>
    </div>

    <div><%= form.text_area :task_description, placeholder: "Feel free to write notes for your task here.", class: "task-description-input" %></div>
    
    <div>
      <%= form.submit @button_text, class: "task-btn shadow" %>
    </div>
  </div>

<% end %>
