<div id="<%= dom_id task %>" class="show-container shadow">
    
  <strong class="task-label">Task</strong>

  <div class="shadow task">
    <%= task.name %>
  </div>

  <p>
    <strong>Progress:</strong>
    <span class="<%= task.completed ? 'task-complete' : 'task-ongoing'%>"><%= task.completed ? "Completed" : "Ongoing" %></span>
  </p>

  <div class="task-description-display">
    <textarea class="task-description-input" placeholder="No Notes for this task." disabled readonly><%= task.task_description %></textarea>
  </div>

</div>
