<div class="shadow index-header">
  <h1>To Do List</h1>
  <%= link_to "Add Task", new_task_path, class: "add-task-btn shadow" %>
</div>
<p style="color: green"><%= notice %></p>

<table class="shadow task-table">
  <thead>
    <tr>
      <th>Task</th>
      <th>Progress</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task-name"><%= task.name %></td>
        <td><span class="<%= task.completed ? 'task-complete' : 'task-ongoing'%>"><%= task.completed ? "Completed" : "Ongoing" %></span></td>
        <td><%= link_to "Show", task , class: "task-btn shadow"  %></td>
        <td><%= link_to "Edit", edit_task_path(task), class: "shadow task-btn"  %></td>
        <td><%= link_to "Delete", task, method: :delete, data: {confirm: "Are you sure?" }, class: "shadow task-btn"  %></td>
        <td><%= button_to "Mark as Completed", complete_task_path(task), method: :patch, params: { task: {completed: true }}, class: "shadow task-btn"  %>
      </tr>
    <% end %>
  </tbody>
</table>
