<h1>New task</h1>

<%= form_with model: @task do |form| %>

  <div class="form shadow">
    <%= form.label "Task", class: "label" %>
    <%= form.text_field :name, placeholder: "Enter your task here", class: "text-field" %>

    <div><%= form.text_area :task_description, placeholder: "Feel free to write notes for your task here.", class: "task-description-input" %></div>
    
    <div>
      <%= form.submit @button_text, class: "task-btn shadow" %>
    </div>
  </div>

<% end %>

<br>

<div>
  <%= link_to "Back to tasks", tasks_path, class: "navigation-link" %>
</div>
